body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background-image: url(./images/monster-doodle-clear.png);
}

nav {
  background-color: #fafafa;
}

footer {
  background-color: #fafafa;
  margin-top: auto;
}
