@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background-image: url(./images/monster-doodle-clear.png);
  padding: 0px 40px;
  font-family: "Josefin Slab", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  font-family: "Amatic SC";
  font-size: 32px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

main {
  flex: 1;
  background-color: rgb(248, 231, 231);
}

footer {
  background-color: #fafafa;
  margin-top: auto;
  font-family: "Amatic SC";
  font-size: 32px;
  text-align: right;
}

a {
  color: inherit;
  text-decoration-thickness: 1px;
}
