@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-container {
  background-color: blue;
  width: 25%;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
  width: 100%;
  margin: 20px 0px;
}

.nav-title p {
  font-weight: bold;
}

.nav-title h1 {
  color: black;
}

.nav-contact p {
  font-weight: bold;
}

.icon {
  width: 25px;
  height: 25px;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-icons {
  display: flex;
  justify-content: end;
  gap: 10px;
}

main {
  background-color: aqua;
}

ul {
  list-style-type: none;
}

li:hover {
  font-weight: bold;
}
